.header{
    height: 59px;
    display: flex;
    align-items: center;
    background-color: rgb(19,25,33);
    position: sticky;
    margin-top: 0;
    z-index: 10;
    width: 100vw;
}

.logo{
    display: flex;
    height: 40px;
    padding: 1px 8px 0 6px;
    
}

.searchbar{
    display: flex;
    flex: 1;
    align-items: center;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 7px 10px 10px 0;
   
}
.dropdown{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;  
    margin-top: 1px;
    margin-bottom: 4px;
    margin-left: 5px;
    height: 38px;
    min-width: 52px;
    width:auto;
    background-color: rgb(243,243,243);
    border-radius: 4px 0 0 4px;
    margin-bottom: 4px;
    border-right: 1px solid rgb(205,205,205);   
}
.all{
    display: block;
    justify-content: center;
    color: rgb(85,85,85);
    font-size: 13px;
    margin: 13px 0 10px 10px;

}
.dropdownicon{
    width: 32px;
    padding: 0;
    height: 20px;
    margin-top: 8px;
    margin-left: 0px;
}
.searchinput{
    display: flex;
    box-sizing: border-box;
    margin-bottom: 4px;
    left:0;
    height: 38px;
    width: 100%;
    border-radius: 0 0 0 0;  
    border: none;
    font-size: 20px;  
}

.searchicon{
    box-sizing: border-box;  
    margin-top: 1px;
    margin-bottom: 4px;
    margin-right: 5px;
    height: 38px;
    color: rgb(49, 49, 49);
    background-color: #febd69;
    width: 45px;
    cursor: pointer;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    border: none;  
}

.searchicon:hover{
    background-color: rgb(238, 163, 51);
}

.header-nav{
    display: flex;
    flex-direction: row;  
}
.greeting-container{
    display: flex;
    flex-direction: column;
    position:relative;
    flex-wrap: nowrap;
    height: 40px;
    padding: 2px 5px 10px 0;
    margin-bottom: 5px;
    margin-top: 5px;
    color:#fff;
}

.greeting{
    display: flex;
    align-items: flex-start;  
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;   
}

.nav{
    font-size: 14px;
    font-weight: bold;
    color:#fff;  
}
.line2{
    display: flex;
}

.signup:hover{
    color:rgb(238, 163, 51)
}
.signin:hover{
    color:rgb(238, 163, 51)
}

.header-nav{
    box-sizing: border-box;
    display: flex;
    height: 60px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: center;
    padding: 0, 9px, 11px, 9px;
    -webkit-box-pack: center;
}
.container:hover{
    cursor: pointer;
    /* border: 1px solid #fff;
    border-radius: 2px;
    margin: -1px; */
}
.cartcount-container{
    display: flex;  
    align-items: flex-start; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
}
.carticon{
    display: flex;
    position:relative;   
    align-items: flex-start; 
    margin-top: 5px;
    margin-bottom: 4px;
    height: 36px;
    padding-right: 0;
    color:white;
    width: 45px;
    box-sizing: border-box;
}

.cartname{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 15px;
    margin-top: 15px;
    margin-left: -5px;
    margin-right: 10px;

}
.cartcount{
    color: rgb(240,136,4);
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    left: 16px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    right: 8px;
    text-size-adjust: 100%;
    top: 21px;
    bottom: 30px;
    width: 18px;
}
