.reviews-container{
    /* width: 100%; */
    border-top: 1px solid lightgray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}

.reviews-left{
    width: 30%;
    min-width: 390px;
    margin-right: 30px;
}

.reviews-right{
    display: block;
    width: 60%;
    font-size: 14px;
    min-width: 390px;
    margin-right: 40px;    
}