*{
    box-sizing: border-box;
}
.session-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.session-logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    width: 110px;   
}

.session-form{
    width: 296px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 20px 26px;
}

.session-form > h1{
    font-size: 28px;
    margin-top: -5px;
    margin-bottom: 15px;
    align-self: flex-start;
}

h5{
    font-size: 13px;
    padding: 0px 0px 2px 3px;
    margin-top: 0px;
    font-weight: 700;
}


input{
    margin-top: 2px;
    height: 31px;
    margin-bottom: 10px;
    padding: 3px 7px 3px  7px;
    width: 95%;   
    background-color: #fff;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 4px;  
    outline: 0;
    font-size: 100%;
  
}
input:active{
    border-color: #cb7d08;
}

button{
    font-size: 12px;
    height: 27px;
   background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
    border: 1px solid #a88734;
    border-radius: 2px;
    margin-top: 7px;
    width: 98%;   
    margin-bottom: 7px;
}

button:hover{
    cursor: pointer;
    background:  rgb(240, 193, 75);
}
 
.divider {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.alter{
    height: 2px;
    border-radius: 1px;
    flex-grow: 1;
    background-color: gainsboro;
}
.altermessage {
    font-size: 10px;
}

.error{
    color: red;
    font-size: 10px;
}