.session-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.session-logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    width: 110px;   
}

.session-form{
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
}

.session-form > h1{
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 15px;
    align-self: center;
}

h5{
    font-size: 13px;
    padding: 0px 0px 2px 2px;
    margin-bottom: 0px;
    margin-top: 0px;
}


input{
    margin-top: 0px;
    height: 14px;
    margin-bottom: 10px;
    padding: 0px;
    width: 95%;   
    
}
input :active{
    border-color: rgb(250, 167, 58);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.07) inset;
}

button{
    font-size: 10px;
    height: 19px;
   background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
    border: 1px solid #a88734;
    border-radius: 2px;
    margin-top: 5px;
    width: 98%;   
    margin-bottom: 5px;
}

 
.divider {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}
.alter{
    height: 2px;
    border-radius: 1px;
    flex-grow: 1;
    background-color: gainsboro;
}
.altermessage {
    font-size: 10px;
}

.error{
    color: red;
    font-size: 10px;
}